<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Start</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu"> </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        
        <div class="nav-item px-3">
            <li class="nav-item px-3">
  <NavLink class="nav-link" href="Sieviesukurpes" Match=@NavLinkMatch.All>
    <span class="oi oi-plus" aria-hidden="true"></span>Woman's
  </NavLink>
  <ul class="nav flex-column">
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="Sieviesukurpes/1" Match=@NavLinkMatch.All>
        <span class="oi oi-plus" aria-hidden="true"></span>Football boots
      </NavLink>
    </li>
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="Sieviesukurpes/2" Match=@NavLinkMatch.All>
        <span class="oi oi-plus" aria-hidden="true"></span>Running shoes
      </NavLink>
    </li>
  </ul>
</li>
        </div>
        <div class="nav-item px-3">
            <li class="nav-item px-3">
  <NavLink class="nav-link" href="Viriesukurpes" Match=@NavLinkMatch.All>
    <span class="oi oi-plus" aria-hidden="true"></span>Men's
  </NavLink>
  <ul class="nav flex-column">
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="Viriesukurpes/1" Match=@NavLinkMatch.All>
        <span class="oi oi-plus" aria-hidden="true"></span>Football boots
      </NavLink>
    </li>
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="Viriesukurpes/2" Match=@NavLinkMatch.All>
        <span class="oi oi-plus" aria-hidden="true"></span>Running shoes
      </NavLink>
    </li>
  </ul>
</li>
        </div>
        <div class="nav-item px-3">
            <li class="nav-item px-3">
  <NavLink class="nav-link" href="Bernukurpes" Match=@NavLinkMatch.All>
    <span class="oi oi-plus" aria-hidden="true"></span>Kid's
  </NavLink>
  <ul class="nav flex-column">
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="Bernukurpes/1" Match=@NavLinkMatch.All>
        <span class="oi oi-plus" aria-hidden="true"></span>Football boots
      </NavLink>
    </li>
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="Bernukurpes/2" Match=@NavLinkMatch.All>
        <span class="oi oi-plus" aria-hidden="true"></span>Running shoes
      </NavLink>
    </li>
  </ul>
</li>

        </div>
    </nav>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}