@page "/Sieviesukurpes/2"
@using Sports.Data
@using Sports.Services
@inherits OwningComponentBase<SievSkrA>
<h3>Woman's running shoes</h3>

    <Table>
        <tr>
            <th>ID</th>
            <th>Model</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Buy</th>
        </tr>
            @foreach(var item in sc){ 
        <tr>
            <td>@item.ID</td>
            <td>@item.Modelis</td>
            <td>@item.Cena</td>
            <td>@item.Qty</td>
            <td><button>Add to Cart</button></td>
       </tr>
            }
    </Table>
@code {
    public System.Collections.Generic.IList<SieviesuSkriesanasApavi> sc;

    protected override void OnInitialized(){
        sc=Service.DisplaySSA();
    }
}