@page "/Viriesukurpes"
@using Sports.Data
@using Sports.Services
@inherits OwningComponentBase<VKurp>
<h3>New Men's shoes</h3>

    <Table border='1'>
        <tr>
            <th>ID</th>
            <th>Model</th>
            <th>Price</th>
            <th>Buy</th>
        </tr>
            @foreach(var item in sc){ 
        <tr>
            <td>@item.ID</td>
            <td>@item.Modelis</td>
            <td>@item.Cena</td>
       </tr>
            }
    </Table>
@code {
    public System.Collections.Generic.IList<VirKurpes> sc;

    protected override void OnInitialized(){
        sc=Service.DisplayV();
    }
}
